* {
   margin: 0;
   padding: 0;
   list-style-type: none;
   text-decoration: none;
 }

 .page-container {
   display: flex;
   justify-content: center;
   margin-top: 10px;
   /* background-color: black; */
 }

 .slider {
   position: absolute;
   display: none;
   width: 100%;
   height: 100%;
   animation:spin 2s ease-in-out;
 }
 @keyframes spin{
 0%{
opacity: 0.4;
 }
 100%{
  opacity: 0.8;
 }
 }
 

 .left,
 .right {
   position: absolute;
   top: 35%;
   font-size: 50px;
   z-index: 10;
   color: beige;
   border: none;
   background-color: blue;
 }

 .left {
   left: 20px;
 }

 .right {
   right: 20px;
 }

 .slider-container {
   position: relative;
   width: 800px;
   height: 500px;
   
 }
 

 img {
   width: 100%;
   height: 100%;
   /* transition: 2s ease; */
 }

 @media screen and (min-width: 500px) {
   .slider-container {
     position: relative;
     width: 800px;
     height: 500px;
   }
 }